<ol class='items-list'>
  <div class="items-header">{{captalizeText (localize @root.config.uiHeader.resistances)}}</div>
  <div class="resistance-card-container">
  {{#each system.resistances as |resistance key|}}
    <div class="resistance-card">
      <h3>{{captalizeText (localize (lookup @root.config.resistancesName key))}}</h1>
      <img src="systems/fabula-ultima/assets/icons/elements/{{key}}.png" />
        <p>{{localize (lookup @root.config.resistancesType resistance)}}</p>
    </div>
  {{/each}}
  </div>

</ol>