<ol class='items-list'>
  <nav class="gears-sheet-tabs tabs" data-group="primary">
    <a class="hidden-gear-button item {{#if (eq system.preferencesFlags.sheetFlags.gearTabFlag 'hands')}} active {{/if}}" data-gear="hands">{{captalizeText (localize @root.config.uiGearHeader.hands)}}</a>
    <a class="hidden-gear-button  item {{#if (eq system.preferencesFlags.sheetFlags.gearTabFlag 'armors')}} active {{/if}}" data-gear="armors">{{captalizeText (localize @root.config.uiGearHeader.armors)}}</a>
    <a class="hidden-gear-button  item {{#if (eq system.preferencesFlags.sheetFlags.gearTabFlag 'accessories')}} active {{/if}}" data-gear="accessories">{{captalizeText (localize @root.config.uiGearHeader.accessories)}}</a>
  </nav>

  <div>
    <div class="hands gears-tab {{#unless (eq system.preferencesFlags.sheetFlags.gearTabFlag 'hands')}} hidden-container {{/unless}}">
      {{> "systems/fabula-ultima/templates/actor/parts/gears/actor-gears-weapons.hbs"}}
    </div>
    <div class="armors gears-tab {{#unless (eq system.preferencesFlags.sheetFlags.gearTabFlag 'armors')}} hidden-container {{/unless}}">
      {{> "systems/fabula-ultima/templates/actor/parts/gears/actor-gears-armors.hbs"}}
    </div>
    <div class="accessories gears-tab {{#unless (eq system.preferencesFlags.sheetFlags.gearTabFlag 'accessories')}} hidden-container {{/unless}}">
      {{> "systems/fabula-ultima/templates/actor/parts/gears/actor-gears-accessories.hbs"}}
    </div>
  </div>
</ol>