<ol class="items-list">
  ACTIONS
  <div class="action-container">
    <a class="action-card action">
      <h2 class="action-choice" data-action="attack">{{captalizeFirstLetter (localize config.actions.attack.name)}}</h2>
      <div class="action-description">{{localize config.actions.attack.description}}</div>
    </a>
    <a class="action-card">
      <h2 class="action-choice" data-action="equipment">{{captalizeFirstLetter (localize config.actions.equipment.name)}}</h2>
      <div class="action-description">{{localize config.actions.equipment.description}}</div>
    </a>
    <a class="action-card">
      <h2 class="action-choice" data-action="guard">{{captalizeFirstLetter (localize config.actions.guard.name)}}</h2>
      <div class="action-description">{{localize config.actions.guard.description}}</div>
    </a>
    <a class="action-card">
      <h2 class="action-choice" data-action="hinder">{{captalizeFirstLetter (localize config.actions.hinder.name)}}</h2>
      <div class="action-description">{{localize config.actions.hinder.description}}</div>
    </a>
    <a class="action-card">
      <h2 class="action-choice" data-action="inventory">{{captalizeFirstLetter (localize config.actions.inventory.name)}}</h2>
      <div class="action-description">{{localize config.actions.inventory.description}}</div>
    </a>
    <a class="action-card">
      <h2 class="action-choice" data-action="objective">{{captalizeFirstLetter (localize config.actions.objective.name)}}</h2>
      <div class="action-description">{{localize config.actions.objective.description}}</div>
    </a>
    <a class="action-card">
      <h2 class="action-choice" data-action="spell">{{captalizeFirstLetter (localize config.actions.spell.name)}}</h2>
      <div class="action-description">{{localize config.actions.spell.description}}</div>
    </a>
    <a class="action-card">
      <h2 class="action-choice" data-action="study">{{captalizeFirstLetter (localize config.actions.study.name)}}</h2>
      <div class="action-description">{{localize config.actions.study.description}}</div>
    </a>
    <a class="action-card">
      <h2 class="action-choice" data-action="skill">{{captalizeFirstLetter (localize config.actions.skill.name)}}</h2>
      <div class="action-description">{{localize config.actions.skill.description}}</div>
    </a>
    <a class="action-card">
      <h2 class="action-choice" data-action="other">{{captalizeFirstLetter (localize config.actions.other.name)}}</h2>
      <div class="action-description">{{localize config.actions.other.description}}</div>
    </a>
    <a class="action-card">
      <h2 class="action-choice" data-action="ritual">{{captalizeFirstLetter (localize config.actions.ritual.name)}}</h2>
      <div class="action-description">{{localize config.actions.ritual.description}}</div>
    </a>
   </div>
    

</ol>