<ol class='items-list'>
  <div class="job-container">
    {{#each system.jobs as |job key|}}
      <a class="job-card action">
        <h2 class="job-title">{{captalizeFirstLetterOfWords (localize job.label)}} {{job.level}}</h2>
        <div class="job-description">JOB DESCRIPTION</div>
      </a>
    {{/each}}
  </div>
</ol>