<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="data.resources.hp.value" class="resource-label">
            HP {{#if data.status.poisoned}} &#129326 {{/if}}
          </label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="data.resources.hp.value" value="{{data.resources.hp.value}}" data-dtype="Number"/>
          <span> / </span>
          <p>{{data.resources.hp.max}}</p>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.resources.hp.crisis" class="resource-label">CRISIS</label>
          <div class="resource-content flexrow flex-center flex-between">
          <p> {{data.resources.hp.crisis}}</p>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.resources.mp.value" class="resource-label">
            MP {{#if data.status.poisoned}} &#129326 {{/if}}
          </label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="data.resources.mp.value" value="{{data.resources.mp.value}}" data-dtype="Number"/>
          <span> / </span>
          <p>{{data.resources.mp.max}}</p>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.resources.ip.value" class="resource-label">IP</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="data.resources.ip.value" value="{{data.resources.ip.value}}" data-dtype="Number"/>
          <span> / </span>
          <p>{{data.resources.ip.max}}</p>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.resources.level" class="resource-label">LEVEL</label>
          <div class="resource-content flexrow flex-center flex-between">
          <p> {{data.resources.level}}</p>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.attributes.base.dexterity" class="resource-label">
            <i class="rollable" data-roll="{{data.attributes.actual.dexterity}}" data-label="DEXTERITY">
              DEX {{#if data.status.enraged}} &#129324 {{/if}} {{#if data.status.slow }} &#128012 {{/if}}</i>
          </label>
          <div class="resource-content flexrow flex-center flex-between">
            <select name="data.attributes.base.dexterity">
              {{#select data.attributes.base.dexterity}}
              {{#each config.attributeDice as |name type|}}
              <option value="{{type}}">{{name}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
        </div>
        
        <div class="resource flex-group-center">
          <label for="data.attributes.base.insight" class="resource-label">
            <i class="rollable" data-roll="{{data.attributes.actual.insight}}" data-label="INSIGHT">
              INS {{#if data.status.enraged}} &#129324 {{/if}} {{#if data.status.dazed}} &#128565 {{/if}}
            </i>
          </label>
          <div class="resource-content flexrow flex-center flex-between">
            <select name="data.attributes.base.insight">
              {{#select data.attributes.base.insight}}
              {{#each config.attributeDice as |name type|}}
              <option value="{{type}}">{{name}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.attributes.base" class="resource-label">
            <i class="rollable" data-roll="{{data.attributes.actual.might}}" data-label="MIGHT">
              MIG {{#if data.status.poisoned}} &#129326 {{/if}} {{#if data.status.weak}} &#128567 {{/if}}
            </i>
          </label>
          <div class="resource-content flexrow flex-center flex-between">
            <select name="data.attributes.base.might">
              {{#select data.attributes.base.might}}
              {{#each config.attributeDice as |name type|}}
              <option value="{{type}}">{{name}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
        </div>
        
        <div class="resource flex-group-center">
          <label for="data.attributes.base" class="resource-label">
            <i class="rollable" data-roll="{{data.attributes.actual.willpower}}" data-label="WILLPOWER">
              WLP {{#if data.status.poisoned}} &#129326 {{/if}} {{#if data.status.shaken}} &#x1F62C {{/if}}
            </i>
          </label>
          <div class="resource-content flexrow flex-center flex-between">
            <select name="data.attributes.base.willpower">
              {{#select data.attributes.base.willpower}}
              {{#each config.attributeDice as |name type|}}
              <option value="{{type}}">{{name}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
        </div>   

        <div class="resource flex-group-center">
          <label for="data.attributes.base" class="resource-label">
            <i class="rollable" data-roll="{{data.attributes.actual.dexterity}} + {{data.attributes.actual.insight}} + {{data.gearStatus.initiative}}" data-label="INITIATIVE">INIT</i>
          </label>
          <div class="resource-content flexrow flex-center flex-between">
          <p>{{data.gearStatus.initiative}}</p>
          </div>
        </div>
                
        <div class="resource flex-group-center">
          <label for="data.defense" class="resource-label">
            <i class="">
              DEF
            </i>
          </label>
          <div class="resource-content flexrow flex-center flex-between">
            <p>{{data.gearStatus.defense}}</p>
          </div>
        </div>
                
        <div class="resource flex-group-center">
          <label for="data.magicDefense" class="resource-label">
            <i class="">
            M.DEF
          </i></label>
          <div class="resource-content flexrow flex-center flex-between">
          <p>{{data.gearStatus.mDefense}}</p>
          </div>
        </div>

      </div>
    </div>
  </header>

  <div style="display: flex; justify-content: center; flex-wrap: wrap;">
    <div style="margin: 10px;">
        <label for="data.status.dazed" class="resource-label">Dazed</label><br>
        <input type="checkbox" {{#disableStatusCheck "dazed" data}} disabled {{/disableStatusCheck}} name="data.status.dazed" {{checked data.status.dazed}}>
    </div>
    <div style="margin: 10px;">
        <label for="data.status.shaken" class="resource-label">Shaken</label><br>
        <input type="checkbox" {{#disableStatusCheck "shaken" data}} disabled {{/disableStatusCheck}} name="data.status.shaken" {{checked data.status.shaken}}>
    </div>
    <div style="margin: 10px;">
        <label for="data.status.slow" class="resource-label">Slow</label><br>
        <input type="checkbox" {{#disableStatusCheck "slow" data}} disabled {{/disableStatusCheck}} name="data.status.slow" {{checked data.status.slow}}>
    </div>
    <div style="margin: 10px;">
        <label for="data.status.weak" class="resource-label">Weak</label><br>
        <input type="checkbox" {{#disableStatusCheck "weak" data}} disabled {{/disableStatusCheck}} name="data.status.weak" {{checked data.status.weak}}>
    </div>
    <div style="margin: 10px;">
        <label for="data.status.enraged" class="resource-label">Enraged</label><br>
        <input type="checkbox" {{#disableStatusCheck "enraged" data}} disabled {{/disableStatusCheck}} name="data.status.enraged" {{checked data.status.enraged}}>
    </div>
    <div style="margin: 10px;">
        <label for="data.status.poisoned" class="resource-label">Poisoned</label><br>
        <input type="checkbox" {{#disableStatusCheck "poisoned" data}} disabled {{/disableStatusCheck}} name="data.status.poisoned" {{checked data.status.poisoned}}>
    </div>
  </div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="gears">Gears</a>
    <a class="item" data-tab="jobs">Jobs</a>
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="actions">Actions</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    
    {{!-- Owned Gears Tab --}}
    <div class="tab items" data-group="primary" data-tab="gears">
       {{> "systems/ultimaFabula/templates/actor/parts/actor-gears.html"}}
    </div>

    {{!-- Active jobs Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="jobs">
      {{> "systems/ultimaFabula/templates/actor/parts/actor-jobs.html"}}
    </div>

    {{!-- Active Skills Tab --}}
    <div class="tab skills flexcol" data-group="primary" data-tab="skills">
      {{> "systems/ultimaFabula/templates/actor/parts/actor-skills.html"}}
    </div>

    {{!-- Active Spells Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="spells">
      {{> "systems/ultimaFabula/templates/actor/parts/actor-spells.html"}}
    </div>

    {{!-- Active actions Tab --}}
    <div class="tab actions flexcol" data-group="primary" data-tab="actions">
      {{> "systems/ultimaFabula/templates/actor/parts/actor-actions.html"}}
    </div>

  </section>
</form>

