<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">
        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="data.resources.hp.value" class="resource-label">
            {{captalizeText (localize config.resourceAbbreviation.HP)}} <a class="recover-resource" data-resource="hp">&#128719;</a>
          </label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="data.resources.hp.value" value="{{data.resources.hp.value}}" data-dtype="Number"/>
          <span> / </span>
          <p>{{data.resources.hp.max}}</p>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.resources.hp.crisis" class="resource-label">{{captalizeText (localize config.resourceAbbreviation.CRISIS)}}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <p> {{data.resources.hp.crisis}}</p>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.resources.mp.value" class="resource-label">
            {{captalizeText (localize config.resourceAbbreviation.MP)}}<a class="recover-resource" data-resource="mp">&#128719;</a>
          </label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="data.resources.mp.value" value="{{data.resources.mp.value}}" data-dtype="Number"/>
          <span> / </span>
          <p>{{data.resources.mp.max}}</p>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.resources.ip.value" class="resource-label">{{captalizeText (localize config.resourceAbbreviation.IP)}}  <a class="recover-resource" data-resource="ip">&#128719;</a></label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="data.resources.ip.value" value="{{data.resources.ip.value}}" data-dtype="Number"/>
          <span> / </span>
          <p>{{data.resources.ip.max}}</p>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.resources.level" class="resource-label">{{captalizeText (localize config.resourceAbbreviation.LEVEL)}}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <p> {{data.resources.level}}</p>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.attributes.base" class="resource-label">
            <i class="rollable" data-roll="{{data.attributes.actual.dexterity}} + {{data.attributes.actual.insight}} + {{data.gearStatus.initiative}}" data-label="INITIATIVE">{{localize config.resourceAbbreviation.INIT}}</i>
          </label>
          <div class="resource-content flexrow flex-center flex-between">
          <p>{{data.gearStatus.initiative}}</p>
          </div>
        </div>
                
        <div class="resource flex-group-center">
          <label for="data.defense" class="resource-label">
            <i class="">
              {{captalizeText (localize config.resourceAbbreviation.DEF)}}
            </i>
          </label>
          <div class="resource-content flexrow flex-center flex-between">
            <p>{{data.gearStatus.defense}}</p>
          </div>
        </div>
                
        <div class="resource flex-group-center">
          <label for="data.magicDefense" class="resource-label">
            <i class="">
              {{captalizeText (localize config.resourceAbbreviation.MDEF)}}
          </i></label>
          <div class="resource-content flexrow flex-center flex-between">
          <p>{{data.gearStatus.mDefense}}</p>
          </div>
        </div>

      </div>
    </div>
  </header>

  <div style="display: flex; justify-content: center; flex-wrap: wrap;">
    <div style="margin: 10px;">
        <label for="data.status.dazed" class="resource-label">{{captalizeFirstLetter (localize config.basicConditions.dazed.name)}}</label><br>
        <input type="checkbox" {{#shouldDisableStatusCheck "dazed" data}} disabled {{/shouldDisableStatusCheck}} name="data.status.dazed" {{checked data.status.dazed}}>
    </div>
    <div style="margin: 10px;">
        <label for="data.status.shaken" class="resource-label">{{captalizeFirstLetter (localize config.basicConditions.shaken.name)}}</label><br>
        <input type="checkbox" {{#shouldDisableStatusCheck "shaken" data}} disabled {{/shouldDisableStatusCheck}} name="data.status.shaken" {{checked data.status.shaken}}>
    </div>
    <div style="margin: 10px;">
        <label for="data.status.slow" class="resource-label">{{captalizeFirstLetter (localize config.basicConditions.slow.name)}}</label><br>
        <input type="checkbox" {{#shouldDisableStatusCheck "slow" data}} disabled {{/shouldDisableStatusCheck}} name="data.status.slow" {{checked data.status.slow}}>
    </div>
    <div style="margin: 10px;">
        <label for="data.status.weak" class="resource-label">{{captalizeFirstLetter (localize config.basicConditions.weak.name)}}</label><br>
        <input type="checkbox" {{#shouldDisableStatusCheck "weak" data}} disabled {{/shouldDisableStatusCheck}} name="data.status.weak" {{checked data.status.weak}}>
    </div>
    <div style="margin: 10px;">
        <label for="data.status.enraged" class="resource-label">{{captalizeFirstLetter (localize config.basicConditions.enraged.name)}}</label><br>
        <input type="checkbox" {{#shouldDisableStatusCheck "enraged" data}} disabled {{/shouldDisableStatusCheck}} name="data.status.enraged" {{checked data.status.enraged}}>
    </div>
    <div style="margin: 10px;">
        <label for="data.status.poisoned" class="resource-label">{{captalizeFirstLetter (localize config.basicConditions.poisoned.name)}}</label><br>
        <input type="checkbox" {{#shouldDisableStatusCheck "poisoned" data}} disabled {{/shouldDisableStatusCheck}} name="data.status.poisoned" {{checked data.status.poisoned}}>
    </div>
  </div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="attributes">{{captalizeFirstLetter (localize config.ui.attributes)}}</a>
    <a class="item" data-tab="gears">{{captalizeFirstLetter (localize config.ui.gears)}}</a>
    <a class="item" data-tab="jobs">{{captalizeFirstLetter (localize config.ui.jobs)}}</a>
    <a class="item" data-tab="skills">{{captalizeFirstLetter (localize config.ui.skills)}}</a>
    <a class="item" data-tab="spells">{{captalizeFirstLetter (localize config.ui.spells)}}</a>
    <a class="item" data-tab="actions">{{captalizeFirstLetter (localize config.ui.actions)}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    
    {{!-- Owned Gears Tab --}}
    <div class="tab items" data-group="primary" data-tab="attributes">
       {{> "systems/ultimaFabula/templates/actor/parts/actor-attributes.html"}}
    </div>

    {{!-- Owned Gears Tab --}}
    <div class="tab items" data-group="primary" data-tab="gears">
       {{> "systems/ultimaFabula/templates/actor/parts/actor-gears.html"}}
    </div>

    {{!-- Active jobs Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="jobs">
      {{> "systems/ultimaFabula/templates/actor/parts/actor-jobs.html"}}
    </div>

    {{!-- Active Skills Tab --}}
    <div class="tab skills flexcol" data-group="primary" data-tab="skills">
      {{> "systems/ultimaFabula/templates/actor/parts/actor-skills.html"}}
    </div>

    {{!-- Active Spells Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="spells">
      {{> "systems/ultimaFabula/templates/actor/parts/actor-spells.html"}}
    </div>

    {{!-- Active actions Tab --}}
    <div class="tab actions flexcol" data-group="primary" data-tab="actions">
      {{> "systems/ultimaFabula/templates/actor/parts/actor-actions.html"}}
    </div>

  </section>
</form>

