<form>
    <div class="container attack-model-form">

        <div class="column attack-model-column">
            <div class="attack-modal-header">
                <h3>{{object.mainHand.name}}</h3>
                <img src="{{object.mainHand.image}}" alt="{{object.mainHand.name}}" class="image">
            </div>

            <div class="attack-modal-body">
                <p>{{captalizeFirstLetter (localize object.mainHand.attackType)}}</p>
                <p>{{captalizeFirstLetter (localize 'ULTIMAFABULA.ui.damage')}}: {{object.mainHand.damage}} {{localize object.mainHand.damageType}}</p>
                <p>{{captalizeFirstLetter (localize 'ULTIMAFABULA.ui.accuracy')}}: {{object.mainHand.accuracy}}</p>
                <p>{{recoverQualityNameByKey object.mainHand.quality}}</p>
            </div>
            
            <div class="attack-modal-radio">
                <input class="spell-modal-radio" type="radio" id="weapon" name="weapon" value="mainHand"><br>
            </div>
        </div>
        
        <div class="column attack-model-column">
            <div class="attack-modal-header">
                <h3>{{object.offHand.name}}</h3>
                <img src="{{object.offHand.image}}" alt="{{object.offHand.name}}" class="image">
            </div>
            
            <div class="attack-modal-body">
                <p>{{captalizeFirstLetter (localize object.offHand.attackType)}}</p>
                <p>{{captalizeFirstLetter (localize 'ULTIMAFABULA.ui.damage')}}: {{object.offHand.damage}} {{localize object.offHand.damageType}}</p>
                <p>{{captalizeFirstLetter (localize 'ULTIMAFABULA.ui.accuracy')}}: {{object.mainHand.accuracy}}</p>
                <p>{{recoverQualityNameByKey object.offHand.quality}}</p>
            </div>

            <div class="attack-modal-radio">
                <input type="radio" id="weapon" name="weapon" value="offHand"><br>
            </div>
        </div>
        {{#if object.isDualHand}}
            <div class="column attack-model-column">
                <div class="attack-modal-header">
                    <h3>{{captalizeText (localize 'ULTIMAFABULA.ui.bothWeapons')}}</h3>
                    <img src="systems/ultimaFabula/icons/x_blade.svg" alt="Both Weapons" class="image">    
                </div>
                <div class="attack-modal-body">

                </div>
                
                <div class="attack-modal-radio">
                    <input type="radio" id="weapon" name="weapon" value="bothHands"><br>
                </div>
            </div>
        {{/if}}
    </div>
    <a>
        <button class="attack-choice">{{captalizeText (localize 'ULTIMAFABULA.actions.attack.name')}}</button>
    </a>
</form>