<form>
    <div class="container attack-model-form">

        <div class="column attack-model-column">
            <div class="attack-modal-header">
                <h3>{{object.mainHand.name}}</h3>
                <img src="{{object.mainHand.image}}" alt="{{object.mainHand.name}}" class="image">
            </div>

            <div class="attack-modal-body">
                <p>{{object.mainHand.attackType}} Weapon</p>
                <p>Damage:  {{object.mainHand.damage}} {{object.mainHand.damageType}}</p>
                <p>Accuracy: {{object.mainHand.accuracy}}</p>
                <p>{{object.mainHand.quality}}</p>
            </div>
            
            <div class="attack-modal-radio">
                <input type="radio" id="weapon" name="weapon" value="mainHand"><br>
            </div>
        </div>
        
        <div class="column attack-model-column">
            <div class="attack-modal-header">
                <h3>{{object.offHand.name}}</h3>
                <img src="{{object.offHand.image}}" alt="{{object.offHand.name}}" class="image">
            </div>
            
            <div class="attack-modal-body">
                <p>{{object.offHand.attackType}} Weapon</p>
                <p>Damage:  {{object.offHand.damage}} {{object.offHand.damageType}}</p>
                <p>Accuracy: {{object.mainHand.accuracy}}</p>
                <p>{{object.offHand.quality}}</p>
            </div>

            <div class="attack-modal-radio">
                <input type="radio" id="weapon" name="weapon" value="offHand"><br>
            </div>
        </div>

        <div class="column attack-model-column">
            <div class="attack-modal-header">
                <h3>BOTH WEAPONS</h3>
                <img src="systems/ultimaFabula/icons/x_blade.svg" alt="Both Weapons" class="image">    
            </div>
            <div class="attack-modal-body">

            </div>
            
            <div class="attack-modal-radio">
                <input type="radio" id="weapon" name="weapon" value="bothHands"><br>
            </div>
        </div>
    </div>
    <a>
        <button class="attack-choice">ATTACK</button>
    </a>
</form>