<script>
    function handleMainHandSelection(selectElement) {
        const mainHandSelect = document.querySelector("[name='mainHand']");
        const offHandSelect = document.querySelector("[name='offHand']");
        const formButton = document.querySelector(".gear-choice");

        let gripWeapon = "";

        for (let i = 0; i < selectElement.options.length; i++) {
            if (selectElement.options[i].value === selectElement.value) {
                gripWeapon = selectElement.options[i].getAttribute("grip");
            }
        }

        const isMainHand = selectElement.name === "mainHand";
        const otherSelect = isMainHand ? offHandSelect : mainHandSelect;

        if (gripWeapon === "two-handed") {
            otherSelect.disabled = true;
            otherSelect.value = "";
        } else {
            otherSelect.disabled = false;
        }

        if(mainHandSelect.value === offHandSelect.value && offHandSelect.value != ""){
            formButton.disabled = true;
        } else {
            formButton.disabled = false;
        }
    }
</script>

<form>
    <div class="container attack-model-form">

        <div class="column attack-model-column">
            <div class="attack-modal-header">
                <h2>{{captalizeFirstLetter (localize 'ULTIMAFABULA.equipmentSlot.mainHand')}}</h2>
                <h3>{{object.equipedGear.mainHand.name}}</h3>
                <img src="{{object.equipedGear.mainHand.img}}" alt="{{object.equipedGear.mainHand.name}}" class="image">
            </div>

            {{#if (eq object.equipedGear.mainHand.type "weapon")}}
            <div class="attack-modal-body">
                <p>{{captalizeFirstLetter (localize object.equipedGear.mainHand.system.attackType)}}</p>
                <p>{{captalizeFirstLetter (localize 'ULTIMAFABULA.ui.damage')}}:  {{object.equipedGear.mainHand.system.damage}} {{localize object.equipedGear.mainHand.system.damageType}}</p>
                <p>{{captalizeFirstLetter (localize 'ULTIMAFABULA.ui.accuracy')}}: {{localizeAttrByName object.equipedGear.mainHand.system.accuracyFirst}} + {{localizeAttrByName object.equipedGear.mainHand.system.accuracySecond}} + {{object.equipedGear.mainHand.system.accuracyMod}}</p>
                <p>{{recoverQualityNameByKey object.equipedGear.mainHand.system.quality}}</p>
            </div>
            {{else if (eq object.equipedGear.mainHand.type "shield")}}
            <div class="attack-modal-body">
                <p>{{captalizeFirstLetter (localize 'ULTIMAFABULA.ui.defense')}}:  {{object.equipedGear.mainHand.system.defense.value}}</p>
                <p>{{captalizeFirstLetter (localize 'ULTIMAFABULA.ui.mDefense')}}: {{object.equipedGear.mainHand.system.mDefense.value}}</p>
                <p>{{object.equipedGear.mainHand.quality}}</p>
            </div>
            {{/if}}

            <select class="mainhand-select" name="mainHand" onchange="handleMainHandSelection(this)">
                <option value="{{object.equipedGear.mainHand._id}}" selected> Select </option>
                <option value="">Unnequip</option>
                {{#each object.gearList.mainHand as |acc|}}
                <option value="{{acc._id}}" grip="{{acc.system.gripType}}">{{acc.name}}</option>
                {{/each}}
            </select>


        </div>
        {{#if object.twoHanded}}
            
            <div class="column attack-model-column">
                
                <div class="attack-modal-header">
                    <h2>{{captalizeFirstLetter (localize 'ULTIMAFABULA.equipmentSlot.offHand')}}</h2>
                    <h3>{{object.equipedGear.mainHand.name}}</h3>
                    <img src="{{object.equipedGear.mainHand.img}}" alt="{{object.equipedGear.mainHand.name}}" class="image">
                </div>
                    {{#if (eq object.equipedGear.mainHand.type "weapon")}}
                    <div class="attack-modal-body">
                        <p>{{captalizeFirstLetter (localize object.equipedGear.mainHand.system.attackType)}}</p>
                        <p>{{captalizeFirstLetter (localize 'ULTIMAFABULA.ui.damage')}}:  {{object.equipedGear.mainHand.system.damage}} {{localize object.equipedGear.mainHand.system.damageType}}</p>
                        <p>{{captalizeFirstLetter (localize 'ULTIMAFABULA.ui.accuracy')}}: {{localizeAttrByName object.equipedGear.mainHand.system.accuracyFirst}} + {{localizeAttrByName object.equipedGear.mainHand.system.accuracySecond}} + {{object.equipedGear.mainHand.system.accuracyMod}}</p>
                        <p>{{recoverQualityNameByKey object.equipedGear.mainHand.system.quality}}</p>
                    </div>
                    {{else }}
                    <div class="attack-modal-body">
                        <p>{{captalizeFirstLetter (localize 'ULTIMAFABULA.ui.defense')}}:  {{object.equipedGear.mainHand.system.defense.value}}</p>
                        <p>{{captalizeFirstLetter (localize 'ULTIMAFABULA.ui.mDefense')}}: {{object.equipedGear.mainHand.system.mDefense.value}}</p>
                        <p>{{object.equipedGear.mainHand.quality}}</p>
                    </div>
                    {{/if}}
                <select name="offHand" onchange="handleMainHandSelection(this)">
                    <option value="{{object.equipedGear.offHand._id}}" selected> Select </option>
                    <option value="">Unnequip</option>
                    {{#each object.gearList.offHand as |acc|}}
                    <option value="{{acc._id}}" grip="{{acc.system.gripType}}">{{acc.name}}</option>
                    {{/each}}
                </select>
            </div>
            {{else}}
        <div class="column attack-model-column">
            
            <div class="attack-modal-header">
                <h2>{{captalizeFirstLetter (localize 'ULTIMAFABULA.equipmentSlot.offHand')}}</h2>
                <h3>{{object.equipedGear.offHand.name}}</h3>
                <img src="{{object.equipedGear.offHand.img}}" alt="{{object.equipedGear.offHand.name}}" class="image">
            </div>
                {{#if (eq object.equipedGear.offHand.type "weapon")}}
                <div class="attack-modal-body">
                    <p>{{captalizeFirstLetter (localize object.equipedGear.offHand.system.attackType)}}</p>
                    <p>{{captalizeFirstLetter (localize 'ULTIMAFABULA.ui.damage')}}:  {{object.equipedGear.offHand.system.damage}} {{localize object.equipedGear.offHand.system.damageType}}</p>
                    <p>{{captalizeFirstLetter (localize 'ULTIMAFABULA.ui.accuracy')}}: {{localizeAttrByName object.equipedGear.offHand.system.accuracyFirst}} + {{localizeAttrByName object.equipedGear.offHand.system.accuracySecond}} + {{object.equipedGear.offHand.system.accuracyMod}}</p>
                    <p>{{recoverQualityNameByKey object.equipedGear.offHand.system.quality}}</p>
                </div>
                {{else if (eq object.equipedGear.offHand.type "shield")}}
                <div class="attack-modal-body">
                    <p>Defense:  {{object.equipedGear.offHand.system.defense.value}}</p>
                    <p>mDefense: {{object.equipedGear.offHand.system.mDefense.value}}</p>
                    <p>{{object.equipedGear.offHand.quality}}</p>
                </div>
                {{/if}}

                <select name="offHand" onchange="handleMainHandSelection(this)">
                    <option value="{{object.equipedGear.offHand._id}}" selected> Select </option>
                    <option value="">Unnequip</option>
                    {{#each object.gearList.offHand as |acc|}}
                    <option value="{{acc._id}}" grip="{{acc.system.gripType}}">{{acc.name}}</option>
                    {{/each}}
                </select>

            </div>
        {{/if}}


        <div class="column attack-model-column">
            <div class="attack-modal-header">
                <h2>{{captalizeFirstLetter (localize 'ULTIMAFABULA.equipmentSlot.accessory')}}</h2>
                <h3>{{object.equipedGear.accessory.name}}</h3>
                <img src="{{object.equipedGear.accessory.img}}" alt="{{object.equipedGear.accessory.name}}" class="image">
            </div>
            
            <div class="attack-modal-body">
                <p>{{recoverQualityNameByKey object.equipedGear.accessory.system.quality}}</p>
            </div>
            
            <select name="accessory">
                <option value="{{object.equipedGear.accessory._id}}" selected> Select </option>
                <option value="">Unnequip</option>
                {{#each object.gearList.accessory as |acc|}}
                <option value="{{acc._id}}">{{acc.name}}</option>
                {{/each}}
            </select>

        </div>
    </div>

    

    <a>
        <button class="gear-choice" >{{captalizeFirstLetter (localize 'ULTIMAFABULA.modalActions.change')}}</button>
    </a>
</form>