<form>
        <div class='items-list'>
            <p class="inventory-title">{{localize 'ULTIMAFABULA.actionsLabels.inventoryTitle'}}</p>
            <li class="inventory-header item flexrow items-header">
                <div class="item-inventory-header">{{captalizeFirstLetter (localize 'ULTIMAFABULA.ui.name')}}</div>
                <div class="item-inventory-header">{{captalizeFirstLetter (localize 'ULTIMAFABULA.ui.cost')}}</div>
                <div class="item-inventory-header">{{captalizeFirstLetter (localize 'ULTIMAFABULA.ui.effect')}}</div>
                <div class="item-inventory-header">{{captalizeFirstLetter (localize 'ULTIMAFABULA.ui.select')}}</div>                
            </li>
            {{#each object.itemList as |item value|}}
                <li class="inventory-body item flexrow">
                    <div class="item-inventory-prop"><span>{{localize item.name}}</span></div>
                    <div class="item-inventory-prop">{{localize item.cost}}</div>
                    <div class="item-inventory-prop">{{localize item.effect}}</div>
                    <div class="item-inventory-prop"><input type="radio" id="selectedItem" name="selectedItem" value="{{value}}"></div>
                </li>
            {{/each}}
        </div>
    <a>
        <button class="hinder-choice">{{captalizeText (localize 'ULTIMAFABULA.actionsLabels.inventoryLabel')}}</button>
    </a>
</form>