<form>
    {{#if (eq object.hasCasterJobs true)}}
    <div class="container ritual-model-form">
        {{#each object.skills as |skill name|}}
        <div class="column ritual-model-column">
            <div class="ritual-modal-header">
                <h3>{{skill.ritualName}}</h3>
                <img src="{{skill.img}}" alt="{{skill.name}}" class="image">
            </div>

            <div class="ritual-modal-body">
                <p>Attributes: {{skill.magicAttr}} + {{skill.magicSecondAttr}}</p>
            </div>
            
            <div class="ritual-modal-radio">
                <input type="radio" id="selectedSkill" name="selectedSkill" value="{{name}}"><br>
            </div>
        </div>
        {{/each}}
    </div>

    <label for="attributeMod">Modifier</label>
    <input type="number" value="0" name="attributeMod" data-dtype="Number" maxlength="1">
    
    <a>
        <button class="ritual-choice">RITUAL</button>
    </a>
    
    {{else }}
    <div class="container ritual-model-form">
        <p>{{localize 'ULTIMAFABULA.modalActions.ritualNegativeFlavor'}}</p>
    </div>
    {{/if}}
</form>