<form>
    {{#if (eq object.hasCasterJobs true)}}
    <div class="container ritual-model-form">
        <select name="selectedJob">
            {{#each object.jobs as |job name|}}
            <option value="{{name}}">{{job.name}} ({{job.system.magicAttr}} + {{job.system.magicSecondAttr}})</option>
            {{/each}}
        </select>
        <input type="number" value="0" name="attributeMod" data-dtype="Number" maxlength="1">
    </div>
    
    <a>
        <button class="ritual-choice">RITUAL</button>
    </a>
    {{else }}
    <div class="container ritual-model-form">
        <p>You do not have jobs capable of performing rituals.</p>
    </div>
    {{/if}}
</form>