<form>
    {{#if (eq object.hasCasterJobs true)}}
    <div class="container ritual-model-form">
        {{#each object.jobs as |job name|}}
        <div class="column ritual-model-column">
            <div class="ritual-modal-header">
                <h3>{{job.name}}</h3>
                <img src="{{job.img}}" alt="{{job.name}}" class="image">
            </div>

            <div class="ritual-modal-body">
                <p>Attributes: {{job.system.magicAttr}} + {{job.system.magicSecondAttr}}</p>
            </div>
            
            <div class="ritual-modal-radio">
                <input type="radio" id="selectedJob" name="selectedJob" value="{{name}}"><br>
            </div>
        </div>
        {{/each}}
    </div>

    <label for="attributeMod">Modifier</label>
    <input type="number" value="0" name="attributeMod" data-dtype="Number" maxlength="1">
    
    <a>
        <button class="ritual-choice">RITUAL</button>
    </a>
    
    {{else }}
    <div class="container ritual-model-form">
        <p>You do not have jobs capable of performing rituals.</p>
    </div>
    {{/if}}
</form>