<form>
    {{#if (eq object.hasSpells true)}}
    {{#each object.spells as |job name|}}
        <div class='items-list'>
            <p class="job-name">{{recoverJob ../object.actor.items name}}</p>
            <li class="spell-header item flexrow items-header">
                <div></div>
                <div class="item-spell-header">{{captalizeFirstLetter (localize 'ULTIMAFABULA.ui.name')}}</div>
                <div class="item-spell-header">{{captalizeFirstLetter (localize 'ULTIMAFABULA.ui.offensive')}}?</div>
                <div class="item-spell-header">{{captalizeFirstLetter (localize 'ULTIMAFABULA.ui.cost')}}</div>
                <div class="item-spell-header">{{captalizeFirstLetter (localize 'ULTIMAFABULA.ui.target')}}</div>
                <div class="item-spell-header">{{captalizeFirstLetter (localize 'ULTIMAFABULA.ui.duration')}}</div>
                <div class="item-spell-header">{{captalizeFirstLetter (localize 'ULTIMAFABULA.ui.damage')}}</div>
                <div class="item-spell-header">{{captalizeFirstLetter (localize 'ULTIMAFABULA.ui.damageType')}}</div>
                <div class="item-spell-header">{{captalizeFirstLetter (localize 'ULTIMAFABULA.ui.select')}}</div>
                
              </li>
            {{#each job as |spell|}}
                <li class="spell-body item flexrow">
                    <div class="item-image">
                        <img src="{{spell.img}}" title="{{spell.name}}" width="24" height="24"/>
                    </div>
                    <div class="item-spell-prop"><span>{{spell.name}}</span></div>
                    <div class="item-spell-prop">{{spell.system.isOffensive}}</div>
                    <div class="item-spell-prop">{{spell.system.cost}}</div>
                    <div class="item-spell-prop">{{localize spell.system.target}}</div>
                    <div class="item-spell-prop">{{localize spell.system.duration}}</div>
                    <div class="item-spell-prop">{{spell.system.damage}}</div>
                    <div class="item-spell-prop">{{localize spell.system.damageType}}</div>
                    <div class="item-spell-prop"><input type="radio" id="spell" name="spell" value="{{spell._id}}"></div>
                </li>
            {{/each}}
        </div>
    {{/each}}
    <a>
        <button class="hinder-choice">{{captalizeText (localize 'ULTIMAFABULA.ui.select')}}</button>
    </a>
    {{else}}
    <div class="container ritual-model-form">
        <p>{{localize 'ULTIMAFABULA.modalActions.spellNegativeFlavor'}}</p>
    </div>
    {{/if}}
</form>