{{!-- This template is a fallback for when items don't have more specific templates. --}}
{{!-- Generally, you'll want to make more specific templates when possible. --}}
<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">Type</label>
          <select name="data.type">
            {{#select data.type}}
            {{#each config.defeniveItemType as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
        <div class="resource">
          <label class="resource-label">Cost</label>
          <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number">
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="resource">
        <table>
          <tr>
            <th>Defense</th>
            <th>Magic Defense</th>
          </tr>
          <td>
            <select name="data.defense.attr">
              {{#select data.defense.attr}}
              {{#each config.attributesAbbreviation as |name type|}}
              <option value="{{type}}">{{name}}</option>
              {{/each}}
              {{/select}}
            </select>
            <span><input type="text" name="data.defense.value" value="{{data.defense.value}}" data-dtype="Number"></span>
          </td>
          <td>
            <select name="data.mDefense.attr">
              {{#select data.mDefense.attr}}
              {{#each config.attributesAbbreviation as |name type|}}
              <option value="{{type}}">{{name}}</option>
              {{/each}}
              {{/select}}
            </select>
            <span><input type="text" name="data.mDefense.value" value="{{data.mDefense.value}}" data-dtype="Number"></span>
          </td>
        </table>

        <table>
          <tr>
            <th>Initiative</th>
            <th>is Martial?</th>
          </tr>
          <td>
            <input type="text" name="data.initiative" value="{{data.initiative}}" data-dtype="Number">
          </td>
          <td>
            <input type="checkbox" name="data.isMartial" {{checked data.isMartial}}>
          </td>

        </table>

        <table>
          <tr>
            <th>Quality</th>
          </tr>
          <td>
            <select name="data.quality">
              {{#select data.quality}}
              {{#each config.armorQualities as |object type|}}
              <option value="{{type}}">{{object.name}}</option>
              {{/each}}
              {{/select}}
            </select>
          </td>
        </table>
        <p>{{recoverQualityInfo "armor" "name" data.quality}}</p>
        <p>+ {{recoverQualityInfo "armor" "cost" data.quality}} Z</p>
        <p>{{recoverQualityInfo "armor" "effect" data.quality}}</p>
        <textarea name="data.special">{{data.special}}</textarea>

      </div>
    </div>
  </section>
</form>
