{{!-- This template is a fallback for when items don't have more specific templates. --}}
{{!-- Generally, you'll want to make more specific templates when possible. --}}
<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">Level</label>
          <input type="text" name="data.level" value="{{data.level}}" data-dtype="Number">
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{captalizeFirstLetter (localize config.ui.description)}}</a>
    <a class="item" data-tab="attributes">{{captalizeFirstLetter (localize config.ui.attributes)}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="resource">
        <h4>{{captalizeFirstLetter (localize config.ui.freeBenefits)}}</h4>
        <textarea name="data.benefitsDescription">{{data.benefitsDescription}}</textarea>
      </div>

      <div class="resource">
        <table>
          <tr>
            <th>{{captalizeText (localize config.resourceAbbreviation.HP)}}</th>
            <th>{{captalizeText (localize config.resourceAbbreviation.MP)}}</th>
            <th>{{captalizeText (localize config.resourceAbbreviation.IP)}}</th>
            <th>{{captalizeFirstLetter (localize config.ui.initiateProject)}}?</th>
          </tr>
          <td>
            <span><input type="text" name="data.benefitsBonus.hp" value="{{data.benefitsBonus.hp}}" data-dtype="Number"></span>
          </td>
          <td>
            <span><input type="text" name="data.benefitsBonus.mp" value="{{data.benefitsBonus.mp}}" data-dtype="Number"></span>
          </td>
          <td>
            <span><input type="text" name="data.benefitsBonus.ip" value="{{data.benefitsBonus.ip}}" data-dtype="Number"></span>
          </td>
          <td>
            <span><input type="checkbox" name="data.benefitsBonus.initiateProjects" {{checked data.benefitsBonus.initiateProjects}}></span>
          </td>
        </table>
      </div>
      <h3>{{captalizeText (localize config.ui.martialEquipment)}}</h3>
      <div class="resource">
        <table>
          <tr>
            <th>{{captalizeFirstLetter (localize config.ui.meleeWeapon)}}</th>
            <th>{{captalizeFirstLetter (localize config.ui.rangedWeapon)}}</th>
            <th>{{captalizeFirstLetter (localize config.defeniveItemType.armor)}}</th>
            <th>{{captalizeFirstLetter (localize config.defeniveItemType.shield)}}</th>
          </tr>
          <td>
            <span><input type="checkbox" name="data.benefitsBonus.martialItems.meleeWeapon" {{checked data.benefitsBonus.martialItems.meleeWeapon}}></span>
          </td>
          <td>
            <span><input type="checkbox" name="data.benefitsBonus.martialItems.rangedWeapon" {{checked data.benefitsBonus.martialItems.rangedWeapon}}></span>
          </td>
          <td>
            <span><input type="checkbox" name="data.benefitsBonus.martialItems.armor" {{checked data.benefitsBonus.martialItems.armor}}></span>
          </td>
          <td>
            <span><input type="checkbox" name="data.benefitsBonus.martialItems.shield" {{checked data.benefitsBonus.martialItems.shield}}></span>
          </td>
        </table>
      </div>

      <div class="resource">
        <label class="resource-label">{{captalizeFirstLetter (localize config.ui.isCaster)}}?</label>
        <input type="checkbox" name="data.isCaster" {{checked data.isCaster}}>
      </div>

      <div class="resource">
        <label class="resource-label">{{captalizeFirstLetter (localize config.ui.casterAttributes)}}: </label>
        <select name="data.magicAttr">
          {{#select data.magicAttr}}
          {{#each config.attributes as |name type|}}
          <option value="{{type}}">{{localize name}}</option>
          {{/each}}
          {{/select}}
        </select>
        <span> + </span>
        <select name="data.magicSecondAttr">
          {{#select data.magicSecondAttr}}
          {{#each config.attributes as |name type|}}
          <option value="{{type}}">{{localize name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      
    </div>
  </section>
</form>

