<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">Damage</label>
          <input type="text" name="data.damage" value="{{data.damage}}" data-dtype="Number"/>
          <select name="data.damageType">
            {{#select data.damageType}}
            {{#each config.elementType as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
        <div class="resource">
          <label class="resource-label">Accuracy</label>
          <select name="data.accuracyFirst">
            {{#select data.accuracyFirst}}
            {{#each config.attributesAbbreviation as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
          </select>
          <span> + </span>
          <select name="data.accuracySecond">
            {{#select data.accuracySecond}}
            {{#each config.attributesAbbreviation as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
          </select>
          <span> + </span>
          <input type="text" name="data.accuracyMod" value="{{data.accuracyMod}}" data-dtype="Number" maxlength="2">
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource">

        <table>
          <tr>
            <th>gripType</th>
            <th>attackType</th>
            <th>Martial?</th>
          </tr>
          <td>
            <select name="data.gripType">
              {{#select data.gripType}}
              {{#each config.gripType as |name type|}}
              <option value="{{type}}">{{name}}</option>
              {{/each}}
              {{/select}}
            </select>
          </td>
          <td>
            <select name="data.attackType">
              {{#select data.attackType}}
              {{#each config.attackType as |name type|}}
              <option value="{{type}}">{{name}}</option>
              {{/each}}
              {{/select}}
            </select>
          </td>
          <td>
            <input type="checkbox" name="data.isMartial" {{checked data.isMartial}}>
          </td>

        </table>
        
        <table>
          <tr>
            <th>Cost</th>
            <th>Type</th>
          </tr>

          <td>
            <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number">
          </td>
          <td>
            <select name="data.weaponType">
              {{#select data.weaponType}}
              {{#each config.weaponType as |name type|}}
              <option value="{{type}}">{{name}}</option>
              {{/each}}
              {{/select}}
            </select>
          </td>
            
        </table>

        <table>
          <tr>
            <th>Quality</th>
          </tr>
          <td>
            <select name="data.quality">
              {{#select data.quality}}
              {{#each config.weaponQualities as |object type|}}
              <option value="{{type}}">{{object.name}}</option>
              {{/each}}
              {{/select}}
            </select>
          </td>
        </table>
        <p>{{recoverQualityInfo "weapon" "name" data.quality}}</p>
        <p>+ {{recoverQualityInfo "weapon" "cost" data.quality}} Z</p>
        <p>{{recoverQualityInfo "weapon" "effect" data.quality}}</p>
        <textarea name="data.special">{{data.special}}</textarea>

      </div>
    </div>
  </section>
</form>
